body {
    font-family: 'Poppins', sans-serif;
    background: #1e272e;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #2c3e50;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: #3498db;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #bdc3c7;
}

input, select {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 8px 0;
    border: none;
    background: #34495e;
    color: #ecf0f1;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
}

input:focus, select:focus {
    background-color: #2c3e50;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
    text-decoration: underline;
}
